.colored-blocks {
  display: inline-block;
  float: left;
  width: 20.5%;
  height: 32px;
  margin-top: 28px;
  margin-left: 6%;
  border-radius: 4px;
  cursor: pointer;

  &_hovered {
    box-shadow: inset 0 0 0 3px black;
  }

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
}
.colored-wrapper {
  margin-top: -16px;
  @extend %clearfix;
}
